body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.body {
  width: 80%;
  text-align: center;
}

/* nav */
.home-menu{
  border-bottom: 2px solid #2fbea4;
  background-color: white;
}

.nav-user {
  margin-left: 2em;
}

.avatar-small{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: auto 20px auto 15px;
}

/* loader */
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #2fbea4;
  width: 15px;
  height: 15px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* content */
.container {
  position: absolute;
  top: 3em;
  width: 100%;
  min-height: 12%;
  background: white;
  text-align: -moz-center;
}

.content{
  width: 400px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  margin: 0 auto;
  display: grid;
}

/* question list */
.question-list {
  list-style: none;
  padding: 0;
  margin: 8px 8px 0px;
}

.question-list li{
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  margin-bottom: 8px;
}

.tab-button{
  margin: 0;
  width: 50%;
}

/* question item */
.question-list-item{
  /* height: 115px; */
  display: grid;
}

.question-title{
  margin: 0;
  line-height:2.2em;
  background-color:#f8f8f8;
  text-align: left;
  padding-left: 8px;
  border-radius: 2px 2px 0px 0px;
  border-bottom: 1px solid #dfdfdf;
}


.avatar-middle{
  width: 60px;
  height: 60px;
  float: left;
  border-radius: 50%;
  margin: 15px 40px;
}

.question-summary{
  display: grid;
  grid-row-gap: 9px;
  width: 210px;
  float: left;
  text-align: left;
  border-left: 1px solid #dfdfdf;
  margin: 1em 0;
  padding-left: 15px;
}

.question-summary h5{
  margin: 0;
}

.question-summary h3{
  margin: 0;
}

.question-summary span{
  font-size: 12px;
  color:#8a8a8a;
}

.question-item-link{
  text-align: center;
  border: 1px solid #2fbea4;
  border-radius: 3px;
  color: #2fbea4;
  font-size: 12px;
  text-decoration: none;
  line-height: 1.7em;
}

/* question-page */
.submit-button{
  background-color: #31bea6;
  color: white;
  margin-bottom: 5px;
}

.question-summary input{
  margin-right: 5px;
}

.question-box{
  display:table-cell;
  vertical-align:middle;

}

.question-box-avatar{
  /* text-align: center; */ 
/*   width: 160px; */
  height: 100%;
  float:left;
  /* white-space: nowrap; */
  /* vertical-align: middle; */
  display: flex;
  align-items: center;
}

.avatar-big{
  width: 140px;
  height: 140px;
  float: left;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px; 
}

.percentage-bar{
  border-radius: 3px;
  background-color: #f1f1f1;
}

.percentage-bar-progress{
  border-radius: 3px;
  color: white;
  background-color: #2fbea4;
  text-align: right;
  padding: 2px auto;
}

.question-result{
  background-color: #f8f8f8;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  display: grid;
  grid-gap: 5px;
  padding: 10px;
  font-weight: bold;
  position: relative;
}

.question-result span{
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
}

.question-result-voted{
  background-color: #e1f8f6;
  border: #32bda6 1px solid;
}

.question-result-voted:after{
  content: "Your vote";
  position: absolute;
  background: #e9ba15;
  height: 30px;
  bottom: 66px;
  left: 190px;
  width: 30px;
  line-height: 13px;
  font-size: 11px;
  border-radius: 50%;
  color: white;
  border: 1px solid #e9ba15;
  padding: 3px 2px 1px 2px;
}

.question-result-voted span{
  color: #2fbea4;
}
.puru-u-51,
.puru-u-51-1,
.puru-u-51-2,
.puru-u-52-2 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.puru-u-51-2 {
    width: 50%;
    *width: 49.9690%;
}

.puru-u-51,
.puru-u-51-1,
.puru-u-52-2 {
    width: 100%;
}
